@model IEnumerable<ProvaMundoMidia.Models.Carro>

<table id="tblCarros" class="table table-striped table-bordered table-responsive">
    <tr style="background-color: orange; font-weight: bold;">
        <th>
            Descrição
        </th>
        <th>
            Modelo
        </th>
        <th>
            Ano
        </th>
        <th>
            Opções
        </th>
    </tr>

    @foreach (ProvaMundoMidia.Models.Carro carro in Model)
    {
        <tr id="linha_carro_@carro.IdCarro">
            @Html.Partial("/Views/Carro/_LinhaTabelaCarros.cshtml", carro)
        </tr>
    }


</table>

