@model IEnumerable<ProvaMundoMidia.Models.Carro>

@{
    ViewBag.Title = "Home";
}

<h3>Listagem de Carros</h3>

<hr />
<br />

@Ajax.ActionLink("Cadastrar novo carro", "ObterModalCadastroEdicaoDeCarro", "Carro", new { idCarro = 0 }, new AjaxOptions()
{
    UpdateTargetId = "cadastroEdicaoCarroPartial",
    InsertionMode = InsertionMode.Replace,
    LoadingElementDuration = 0,
    OnSuccess = "exibirModalCadastroEdicaoDeCarro"
}, new { @class = "btn btn-success" })

<br />
<br />
<br />

<div class="panel panel-default" style="border-color: black;">
    <div class="panel-heading" style="background-color: orange; font-weight: bold; font-size: 16px;">Pesquisa</div>
    <div class="panel-body">
        @using (@Ajax.BeginForm("PesquisarCarrosPorDescricaoEModelo", "Carro",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                LoadingElementDuration = 0,
                                UpdateTargetId = "tblCarros"
                            }, new { @class = "form-inline" }
                            ))
        {
            <div class="form-group">
                <label>Descrição</label>
                <input type="text" class="form-control" name="buscaDescricaoCarro" />
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group">
                <label>Modelo</label>
                <input type="text" class="form-control" name="buscaModeloCarro" />
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Buscar</button>
            </div>
        }
    </div>
</div>

<div id="tblCarros">
    @Html.Partial("_TabelaCarros", Model)
</div>

<div id="cadastroEdicaoCarroPartial">

</div>